/*start our basics */
html, body
{
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
/*end our basics*/
/* start responsive mobile */
@media (min-width:200px){
.navbar{
	background-color:#fff;
}
.dropdown-toggle{float:left}
.navbar-header a{text-decoration:none;}
.icon2{
		color:#000;
		padding-left:10px;
		padding-top:20px;
		font-size:18px;
}
.dropdown-menu{
		left:10px !important;
		width:200px !important;
		border-radius:0px !important;

}
.dropdown-menu li a{
		float:right !important;
		font-size:20px;
}
.companyname{
	float:right;}
.companyname img{
	background-color:#000;
	border-radius:50%;
	width:50px;
	height:30px;
	}
.companyname i{
	font-size:15px;
	font-weight:bold;
	}
}
@media (min-width:400px) and (max-width:499px){
.dropdown-menu{
		width:100px !important;
}
.companyname img{
	width:60px;
	height:50px;
}
.icon2{padding-top:10px;}
.companyname i{font-size:18px;}
.dropdown-menu li a{font-size:17px;}
}
@media (min-width:500px) and (max-width:768px){
.companyname img{
	width:80px;
	height:70px;
}
.companyname i{font-size:20px;}
}
@media (min-width:300px) and (max-width:400px){
.dropdown-menu{width:100px !important;}
.dropdown-menu li a{
	font-size:10px;
	color:#000 !important;
	}
}
@media (min-width:200px) and (max-width:300px){
.dropdown-menu{width:50px !important;}
.dropdown-menu li a{
	font-size:14px;
	color:#000 !important;
	}
}
/* end responsive mobile */


/*start above-navrt */
@media (min-width:768px) {
.above-nav{
	background-color:#3e3e3e;
	height:50px;
	padding-right:70px;
}
.above-nav i{
	color:#ffd600;
	padding-top:15px
}
.row{
	overflow:hidden;
	width:100%;
}
.location{
	float:right;
	width:37%
}
.vl{	
	display:inline;
	border-left:2px solid #7d7d7d;
	padding-top:10px;
	padding-right:27px;
}
.number{
	float:right;
	width:30%;
}
.number i{padding-top:23px;}
.num{color:#fff;}
.loc a{color:#fff;}
}
/*done*/
@media (min-width:768px) and (max-width:991px){
.above-nav {	padding-right:0px;}
.above-nav i {padding-top:15px}
.location{
	float:right;
	width:57%
}
.number{
	float:right;
	width:35%;
}
.number i{padding-top:25px;}
.vl{		
	padding-top:10px;
	padding-right:20px;
}
}
@media (min-width:992px) and (max-width:1199px){
.above-nav {padding-right:0px;}
.above-nav i {padding-top:15px}
.location {width:43%}
.number {width:28%;}
.number i{
	padding-top:25px;
	margin-right:30px;
}
.vl{		
	padding-top:10px;
	padding-right:30px;
}
}
/*end above navbar */
/*start second navbar*/
@media (min-width:768px){
.navbar-default{
	height:80px !important;
	 top:0;
	 margin:0;
    width: 100%;
	background-color:#FFFAFA;
	padding-right:70px !important;
}
nav i{
	font-size:25px; 
	font-weight:bold;
}
.navbar-default img{
	width:120px;
	height:90px;
	background-color:#3e3e3e;
	border-radius:50%;
	margin-left:10px;
	box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 80px 4px rgba(0, 0, 0, 0.19);
}
.navbar-left{padding-left:70px !important;}
.nav li {	 
	padding-top:15px;
	font-size:19px;
	color:#000 !important;
}
.nav li a{color:#000 !important;}
nav.shrink{
	height:80px;
	position:fixed !important;
	z-index:999;
	margin-left:0;
	padding-left:60px;
	padding-top:0;
	animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}
}
@media (min-width:992px) and (max-width:1200px){
.navbar-default{
	padding-right:40px !important;
}
.navbar-default img{
	width:100px;
	height:80px;
	background-color:#fff;
	border-radius:50%;
	margin-left:10px;
	box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 80px 4px rgba(0, 0, 0, 0.19);
}
.navbar-left{
	padding-left:50px!important;
}
}
@media (min-width:768px) and (max-width:1004px){
.navbar-default{
	padding-right:20px !important;
}
.navbar-default i{
	font-size:20px; 
}
.navbar-default img{
	width:90px;
	height:90px;
	background-color:red;	
}
}
@media (min-width:768px) and (max-width:800px){
.navbar-default img{background-color:blue;}
.navbar-header{width:50% }
.navbar-default{height:80px !important;}
.navbar-left{padding-left:70px;}
.nav li{font-size:14px;}
nav.shrink{height:70px !important;}
}
/*end second navbar */
/*start carousel caption */
.overlay{
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.carousel-caption{
 }
.carousel-caption h1{
	color:#fff;	
	}
.carousel-caption p{
	color:#fff;
}
/*end carousel caption*/
/*start carousel indicators */
.carousel-indicators .active   {
	background-color:#ffd600;
	border:#ffd600
}
.carousel-indicators li {
   border: 1px solid #fff;
   background-color:#fff
 }
/*end carousel indicators */
/*start carousel control*/
.carousel .carousel-control{
	visibility:hidden;
	background:none;
}
.carousel-control {
text-shadow: none;
opacity: 1;
filter: alpha(opacity=100)
}
.carousel-control:hover, .carousel-control:focus {
opacity: 1;
filter: alpha(opacity=100)
}
.carousel .left.carousel-control .glyphicon-chevron-left,
.carousel .right.carousel-control .glyphicon-chevron-right
{
	color:#fff;
}
.carousel:hover .left.carousel-control{
	visibility:visible;
	background-color:none;
	animation:carousel-left 1s forwards
}
.carousel:hover .right.carousel-control{
	visibility:visible;
	background-color:none;
	animation:carousel-right 1s forwards
}
@keyframes carousel-left{
	0%{
		transform: translateX(-80px)
	}
	100%{
		transform: translateX(20px)
		}
}
@keyframes carousel-right{
	0%{
		transform: translateX(0px)
	}
	100%{
		transform: translateX(-30px)
		}
}

/*end carousel control */
/*start our services */	
@media (min-width:200px){
.services{margin-top:100px;}
.toprow img{
	width:120px;
	height:200px;
}
.toprow{overflow:hidden;}
.repair{
	float:right;
	width:30%;
	position:relative;
}
.over2{
	width:120px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(255, 215, 0, 0.7);
	text-align:center;
}
.over{
	width:120px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.7);
	text-align:center;
}
.over h6{
	color:#fff;
	font-weight:bold;
}
.over2 h6{
	color:#000;
	font-weight:bold;
}
.over i{
	color:#fff;
	text-align:center;
	font-size:20px;
}
.over2 i{
	color:#000;
	text-align:center;
	font-size:20px;
}
}
@media (min-width:300px)  {
.repair{margin-bottom:3px; margin-left:3px;}
.repair img{
	width:87px;
	height:100px;
}
.repair h6{font-size:11px;}
.repair i{font-size:15px;}
.over2{width:87px; padding-top:15px;}
.over{width:87px; padding-top:15px;}
}
@media (min-width:340px) and (max-width:370px)
{
.repair{margin-bottom:10px;}
}
@media (min-width:370px) and (max-width:400px){
.repair{margin-bottom:20px;}
}
@media (min-width:401px){
.repair{
	margin-left:5px;
	margin-bottom:8px;
	}
.repair img{
	width:110px;
	height:110px;
	}
.repair h6{font-size:14px;}
.repair i{font-size:15px}
.over2{width:110px;}
.over{width:110px;}
}
@media (min-width:430px) and (max-width:490px){
.repair{ margin-bottom:20px;}
}
@media (min-width:491px) and (max-width:500px){
.repair{
	margin-left:5px;
	margin-bottom:8px;
	}
.repair img{
	width:130px;
	height:130px;
	}
.repair h6{font-size:15px; font-weight:bold}
.repair i{font-size:15px}
.over2{width:130px;}
.over{width:130px;}
}
@media (min-width:501px){
.repair{
	margin-left:5px;
	margin-bottom:5px;
	}
.repair img{
	width:140px;
	height:140px;
	}
.repair h6{font-size:17px; font-weight:bold}
.repair i{font-size:18px}
.over2{width:140px; padding-top:40px;}
.over{width:140px; padding-top:40px;}
}
@media (min-width:520px) and (max-width:550px){
.repair{margin-bottom:10px;}
}
@media (min-width:551px) {
.repair{
	margin-left:5px;
	margin-bottom:10px;
	}
.repair img{
	width:150px;
	height:150px;
	}
.repair h6{font-size:19px; font-weight:bold}
.repair i{font-size:20px}
.over2{width:150px; padding-top:40px;}
.over{width:150px; padding-top:40px;}
}
@media (min-width:570px) and (max-width:630px){
.repair{margin-bottom:20px}
}
@media (min-width:631px) {
.repair {
	margin-left:5px;
	margin-bottom:10px;
	}
.repair img{
	width:170px;
	height:170px;
	}
.repair h6{font-weight:bold; color:blue; font-size:18px;}
.repair i{font-size:20px;}
.over2{width:170px; padding-top:40px;}
.over{width:170px; padding-top:40px;}
}
@media (min-width:668px) and (max-width:700px){
.repair{margin-bottom:20px;}
}
@media (min-width:701px) {
.repair img{width:200px; height:200px;}
.repair{
	margin-left:10px;
	margin-bottom:10px;
}
.repair i{font-size:25px;}
.repair h6{font-weight:bold; color:green; font-size:20px;}

.over2{width:200px; padding-top:40px;}
.over{width:200px; padding-top:40px}
}
@media (min-width:750px) and (max-width:800px){
.repair{margin-bottom:20px;}
}
@media (min-width:800px) and (max-width:980px){
.repair{margin-bottom:30px;}
}
@media (min-width:981px) and (max-width:991px){
.repair img{width:220px; height:220px;}
.repair{
	margin-bottom:7px;
	margin-left:10px;
}
.repair i{font-size:25px;}
.repair h6{color:red; font-size:20px; }
.over2{width:220px; padding-top:50px;}
.over{width:220px; padding-top:50px;}
}
@media (min-width:992px) and (max-width:1199px){
.repair img{width:270px; height:220px; }
.toprow{
	margin-bottom:10px;
	margin-left:10px;
}
.repair i{font-size:25px;}
.repair h6{font-size:25px;}
.over2{width:270px; padding-top:50px;}
.over{width:270px; padding-top:50px;}
}
@media (min-width:1200px) {
.repair img{width:330px; height:250px;}
.repair{
	margin-bottom:20px;
	margin-left:10px;
}
.repair i{font-size:30px;}
.repair h6{ font-size:30px;}
.over2{width:330px; padding-top:50px;}
.over{width:330px; padding-top:50px;}
}
/*end our services*/
/*start our history */
@media (min-width:200px){
.history{
	margin-top:100px;
	background-color:#D5DBDB;
}
.history h2{
	
	padding-top:40px;
	font-weight:bold;
}
.history p{
	font-size:10px;
	margin-top:20px;
	font-weight:bold;
}
}
@media (min-width:320px) and (max-width:766px){
.history h2{font-size:25px; text-align:center}
.history p{font-size:17px;}
}
@media (min-width:767px) and (max-width:991px){
.history h2{font-size:30px; text-align:center;}
.history p{font-size:20px;}
}
@media (min-width:992px){
.history h2{font-size:30px; text-align:center;}
.history p{font-size:20px;}
}
/*end oour history*/
/*start our project*/
@media (min-width:200px){
.project{
	margin-top:100px;
	margin-bottom:100px
}
.flip-box {
  background-color: transparent;
  perspective: 1000px;
  float:right;
  margin-bottom:16px;
}
.flip-box img{
	
}
.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner{
	transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #bbb;
  color: black;
}
.flip-box-back {
	padding-top:70px;
	background-color:#000;
	color: #fff;
	font-size:20px;
	transform: rotateY(180deg);
}
.over3{
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.2);
}
.over4{
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(255, 215, 0, 0.3);
}
} 
@media (min-width:350px) and (max-width:400px){
.flip-box {
	width: 100px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:100px; height:100px;}
.flip-box-inner {width:100px; height:100px;}
.flip-box-front, .flip-box-back {width:100px; height:100px;}
.flip-box-front {width:100px; height:100px;}
.over3{width:100px; height:100px;}
.over4{width:100px; height:100px;}
} 
@media (min-width:401px) and (max-width:519px){
.flip-box {
	width: 110px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:110px; height:100px;}
.flip-box-inner {width:110px; height:100px;}
.flip-box-front, .flip-box-back {width:110px; height:100px;}
.flip-box-front {width:110px; height:100px;}
.over3{width:110px; height:100px;}
.over4{width:110px; height:100px;}
} 
@media (min-width:430px) and (max-width:519px){
.top{margin-right:30px;}
.bottom{margin-right:30px;}
}
@media (min-width:520px) and (max-width:600px){
.flip-box {
	width: 150px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:150px; height:150px;}
.flip-box-inner {width:150px; height:150px;}
.flip-box-front, .flip-box-back {width:150px; height:150px;}
.flip-box-front {width:150px; height:150px;}
.over3{width:150px; height:150px;}
.over4{width:150px; height:150px;}
} 
@media (min-width:601px) and (max-width:700px){
.flip-box {
	width: 180px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:180px; height:180px;}
.flip-box-inner {width:180px; height:180px;}
.flip-box-front, .flip-box-back {width:180px; height:180px;}
.flip-box-front {width:180px; height:180px;}
.over3{width:180px; height:180px;}
.over4{width:180px; height:180px;}
} 
@media (min-width:701px) and (max-width:980px){
.flip-box {
	width: 200px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:200px; height:200px;}
.flip-box-inner {width:200px; height:200px;}
.flip-box-front, .flip-box-back {width:200px; height:200px;}
.flip-box-front {width:200px; height:200px;}
.over3{width:200px; height:200px;}
.over4{width:200px; height:200px;}
}  
@media (min-width:981px) and (max-width:1200px){
.flip-box {
	width: 230px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:230px; height:230px;}
.flip-box-inner {width:230px; height:230px;}
.flip-box-front, .flip-box-back {width:230px; height:230px;}
.flip-box-front {width:230px; height:230px;}
.over3{width:230px; height:230px;}
.over4{width:230px; height:230px;}
} 
@media (min-width:1201px) {
.top{margin-right:50px;}
.bottom{margin-right:50px;}
.flip-box {
	width: 300px;
	margin-left:5px;
	margin-bottom:5px;
}
.flip-box img{width:300px; height:250px;}
.flip-box-inner {width:300px; height:250px;}
.flip-box-front, .flip-box-back {width:300px; height:250px;}
.flip-box-front {width:300px; height:250px;}
.over3{width:300px; height:250px;}
.over4{width:300px; height:250px;}
} 	
}
    
/*end our project*/
/*end our working*/

.working{
	background-color:#D5DBDB;
	margin-bottom:80px;
	width:100%
}
.working h2{
	padding-top:40px;
	font-weight:bold;
	color:#000;
}
.contentworking{
	width:33%;
	float:right;
}
.contentworking ul{
	margin:0;
	padding-right:0;
	padding-bottom:40px;
	padding-top:10px;
}
.contentworking li{
	font-size:18px;
	color:#000;
	font-weight:bold;
}



/*end our working*/
/*end our show*/
.show {
	overflow:hidden;
		margin-bottom:80px;

}
.showimage{
	width:30%;
	float:right;
	margin-left:27px;
}
.showimage2{
	width:30%;
	float:right;
}
/*start our contact*/
.footer{
	background-color:#2d2d2d;
}
.contactus{
	overflow:hidden;
	border-bottom:2px solid #fff;
	margin-right:30px;
	margin-left:30px;
}
.contactus1{
	width:25%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;
	padding-right:50px;
	color:ffd600;
}
.contactphone{
	width:30%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;

}
.contactus2{
	width:40%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;
}
.contactus2 a{
	color:#ffd600;
	cursor:pointer;
	font-size:18px;
}


.content1{
	font-size:18px;
	color:#ffd600;
	cursor:default;
	margin-right:40px;
}
.content2{
	font-size:18px;
	color:#ffd600;
	cursor:default;
}
.vl2{
	padding-right:10px;
	padding-left:30px;
	border-left:2px solid #fff;
	margin-top:150px;
}

.contactbottom{
	overflow:hidden;
	padding-top:30px;
	margin-right:90px;

}
.contact1{
	width:50%;
	float:right;
	color:#fff;
}
.contact2{
	width:50%;
	float:right;
	color:#fff;
}
.contact1 span{font-size:20px;}
.contact2 span a{
	color:#fff;
	font-size:20px;
}
.contact2 i{
	color:#ffd600;
	padding-right:10px;
}
.copyright{
	background-color:#000;
	margin-top:30px;
}
/*end our contact*/






