/*start our basics */
html, body
{
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
/*end our basics*/
/* start responsive mobile */
.navbar-inverse{
	background-color:#fff;
}
.navbar-header a{
	text-decoration:none;
}
.icon1{
	padding-right:15px;
	padding-top:20px;
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.icon2{
		color:#000;
		padding-right:10px;
		padding-top:20px;
		font-size:18px;
}
.dropdown-menu{
		top:47px !important;
		right:0px !important;
		left:0 !important;
		width:300px !important;
		background-color: rgba(0, 0, 0, 0.9); 
		border-radius:0px !important;
}
.dropdown-menu li{
	
}
.dropdown-menu li a{
		float:right !important;
		color:#fff;
		font-size:20px;
}
@media (min-width:200px){
.dropdown-menu{
		width:100px !important;
}
.dropdown-menu li a{font-size:14px;}
}
/* end responsive mobile */


/*start above-navrt */
@media (min-width:768px){
.above-nav{
	background-color:#3e3e3e;
	height:50px;
	padding-right:70px;
}
.above-nav i{
	color:#ffd600;
	padding-top:15px
}
.row{
	overflow:hidden;
	width:100%;
}
.location{
	float:right;
	width:37%
}
.vl{	
	display:inline;
	border-left:2px solid #7d7d7d;
	padding-top:10px;
	padding-right:27px;
}
.number{
	float:right;
	width:30%;
}
.number i{padding-top:23px;}
.num{color:#fff;}
.loc a{color:#fff;}
}
/*done*/
@media (min-width:768px) and (max-width:991px){
.above-nav {	padding-right:0px;}
.above-nav i {padding-top:15px}
.location{
	float:right;
	width:57%
}
.number{
	float:right;
	width:35%;
}
.number i{padding-top:25px;}
.vl{		
	padding-top:10px;
	padding-right:20px;
}
}
@media (min-width:992px) and (max-width:1199px){
.above-nav {padding-right:0px;}
.above-nav i {padding-top:15px}
.location {width:43%}
.number {width:28%;}
.number i{
	padding-top:25px;
	margin-right:30px;
}
.vl{		
	padding-top:10px;
	padding-right:30px;
}
}
/*end above navbar */
/*start second navbar*/
@media (min-width:768px){
.navbar-default{
	height:80px !important;
	 top:0;
	 margin:0;
    width: 100%;
	background-color:#FFFAFA;
	padding-right:70px !important;
}
nav i{
	font-size:25px; 
	font-weight:bold;
}
.navbar-default img{
	width:120px;
	height:90px;
	background-color:#3e3e3e;
	border-radius:50%;
	margin-left:10px;
	box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 80px 4px rgba(0, 0, 0, 0.19);
}
.navbar-left{padding-left:70px !important;}
.nav li {	 
	padding-top:15px;
	font-size:19px;
	color:#000 !important;
}
.nav li a{color:#000 !important;}
nav.shrink{
	height:80px;
	border-bottom:2px solid #000;
	position:fixed !important;
	z-index:999;
	margin-left:0;
	padding-left:60px;
	padding-top:0;
	animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}
}
@media (min-width:992px) and (max-width:1200px){
.navbar-default{
	padding-right:40px !important;
}
.navbar-default img{
	width:100px;
	height:80px;
	background-color:#fff;
	border-radius:50%;
	margin-left:10px;
	box-shadow: 4px 6px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 80px 4px rgba(0, 0, 0, 0.19);
}
.navbar-left{
	padding-left:50px!important;
}
}
@media (min-width:768px) and (max-width:1004px){
.navbar-default{
	padding-right:20px !important;
}
.navbar-default i{
	font-size:20px; 
}
.navbar-default img{
	width:90px;
	height:90px;
	background-color:red;	
}
}
@media (min-width:768px) and (max-width:800px){
.navbar-default img{background-color:blue;}
.navbar-header{width:50% }
.navbar-default{height:80px !important;}
.navbar-left{padding-left:70px;}
.nav li{font-size:14px;}
nav.shrink{height:70px !important;}
}
/*end second navbar */
/*start carousel caption */
.overlay{
	position:absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.5);
}
.carousel-caption{
 }
.carousel-caption h1{
	color:#fff;	
	}
.carousel-caption p{
	color:#fff;
}
/*end carousel caption*/
/*start carousel indicators */
.carousel-indicators .active   {
	background-color:#ffd600;
	border:#ffd600
}
.carousel-indicators li {
   border: 1px solid #fff;
   background-color:#fff
 }
/*end carousel indicators */
/*start carousel control*/
.carousel .carousel-control{
	visibility:hidden;
	background:none;
}
.carousel-control {
text-shadow: none;
opacity: 1;
filter: alpha(opacity=100)
}
.carousel-control:hover, .carousel-control:focus {
opacity: 1;
filter: alpha(opacity=100)
}
.carousel .left.carousel-control .glyphicon-chevron-left,
.carousel .right.carousel-control .glyphicon-chevron-right
{
	background-color:#ffd600;
	color:#fff;
	border:5px solid #ffd600;
	border-radius:50px;
	font-size:20px;
}
.carousel:hover .left.carousel-control{
	visibility:visible;
	background-color:none;
	animation:carousel-left 1s forwards
}
.carousel:hover .right.carousel-control{
	visibility:visible;
	background-color:none;
	animation:carousel-right 1s forwards
}
@keyframes carousel-left{
	0%{
		transform: translateX(-80px)
	}
	100%{
		transform: translateX(20px)
		}
}
@keyframes carousel-right{
	0%{
		transform: translateX(0px)
	}
	100%{
		transform: translateX(-30px)
		}
}
/*end carousel control */
/*start our services */	
@media (min-width:767px){
.services{margin-top:100px;}
.toprow img{
	width:350px;
	height:200px;
}
.toprow{
	overflow:hidden;
}
.repair{
	float:right;
	width:30%;
	margin-left:30px;
	position:relative;
	margin-bottom:30px;
}
.over2{
	width:350px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(255, 215, 0, 0.7);
	text-align:center;
}
.over2 i{
	color:#000;
	padding-top:40px;
	text-align:center;	
}
.over2 h6{
	text-align:center;
	color:#000;
	font-size:30px;
}
.over{
	width:350px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.7);
	text-align:center;
}
.over i{
	color:#fff;
	padding-top:40px;
	text-align:center;
}
.over h6{
	text-align:center;
	color:#fff;
	font-size:30px;
}
}
@media (min-width:992px) and (max-width:1200px){
.repair img{width:280px;}
.repair{
	margin-left:20px;
	margin-bottom:20px;
}
.over2{width:280px;}
.over{width:280px;}
}
@media (min-width:768px) and (max-width:991px){
.repair{
	width:100%;
	margin-right:30px;
}
.repair img{width:600px;}

.over2{width:600px;}
.over{
	width:600px;
	background-color:rgba(0, 0, 0, 0.7);

	}
}

/*end our services*/
/*start our history */
.history{
	margin-top:100px;
	background-color:#D5DBDB;
}
.history h2{
	
	padding-top:40px;
	font-weight:bold;
	text-transform:uppercase;
	padding-right:12px;
}
.history p{
	font-size:18px;
	margin-top:20px;
	font-weight:bold;
}
/*end oour history*/
/*start our project*/

.project{
	margin-top:100px;
	margin-bottom:100px
}

.flip-box {
  background-color: transparent;
  width: 355px;
  height: 200px;
  perspective: 1000px;
  float:right;
  margin-bottom:16px;
  margin-left:16px;
}
.flip-box img{
	width:355px;
	height:200px;
}
.flip-box-inner {
  position: relative;
  width: 355px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner{

  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 355px;
  height: 200px;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #bbb;
  color: black;
  width:355px;
	height:200px;
}
.flip-box-back {
	padding-top:70px;
	background-color:#ffd600;
	color: #fff;
	font-size:20px;
	transform: rotateY(180deg);
}
.over3{
	width:355px;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(255, 255, 255, 0.1);
}

.over4{
	width:355px;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;
	top:0;
	right:0;
	opacity:1;
	background-color:rgba(0, 0, 0, 0.5);
}

/*end our project*/
/*end our working*/
.working{
	background-color:#D5DBDB;
	margin-bottom:80px;
	width:100%
}
.working h2{
	padding-top:40px;
	font-weight:bold;
	color:#000;
}
.contentworking{
	width:33%;
	float:right;
}
.contentworking ul{
	list-style-type:circle;
	margin:0;
	padding-right:0;
	padding-bottom:40px;
	padding-top:10px;
}
.contentworking li{
	font-size:18px;
	color:#000;
	font-weight:bold;


}
/*end our working*/
/*end our show*/
.show {
	overflow:hidden;
		margin-bottom:80px;

}
.showimage{
	width:30%;
	float:right;
	margin-left:27px;
}
.showimage2{
	width:30%;
	float:right;
}








.article * {
    position: relative;
    /* hack */
}




/*end our show*/


/*start our contact*/
.footer{
	background-color:#2d2d2d;
}
.contactus{
	overflow:hidden;
	border-bottom:2px solid #fff;
	margin-right:30px;
	margin-left:30px;
}
.contactus1{
	width:25%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;
	padding-right:50px;
	color:ffd600;
}
.contactphone{
	width:30%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;

}
.contactus2{
	width:40%;
	float:right;
	margin-bottom:30px;
	margin-top:30px;
}
.contactus2 a{
	color:#ffd600;
	cursor:pointer;
	font-size:18px;
}


.content1{
	font-size:18px;
	color:#ffd600;
	cursor:default;
	margin-right:40px;
}
.content2{
	font-size:18px;
	color:#ffd600;
	cursor:default;
}
.vl2{
	padding-right:10px;
	padding-left:30px;
	border-left:2px solid #fff;
	margin-top:150px;
}

.contactbottom{
	overflow:hidden;
	padding-top:30px;
	margin-right:90px;

}
.contact1{
	width:50%;
	float:right;
	color:#fff;
}
.contact2{
	width:50%;
	float:right;
	color:#fff;
}
.contact1 span{font-size:20px;}
.contact2 span a{
	color:#fff;
	font-size:20px;
}
.contact2 i{
	color:#ffd600;
	padding-right:10px;
}
.copyright{
	background-color:#000;
	margin-top:30px;
}
/*end our contact*/






